---
import Navbar from "../components/navbar.astro";
type Product = {
  id: number;
  name: string;
  description: string;
  price: number;
  imageUrl: string;
  stock: number;
};
const product: Product = {
  id: 1,
  name: "Cafetera Espresso",
  description:
    "SE50 is the perfect solution for those locations where reduced space and low consumption are important. It has a robust and solid stainless steel structure, easy to clean, and a coffee group always at the right temperature thanks to thermoblock technology: 2 independent boilers for the coffee and steam circuits.",
  price: 399.99,
  imageUrl: "/public/cafetera.jpg",
  stock: 15,
};
---

<html>
  <head>
    <title>{product.name} - Detalle del Producto</title>
    <link rel="stylesheet" href="/src/styles/tailwind.css" />
  </head>
  <body class="font-sans bg-gray-50 text-gray-800">
    <Navbar />
    <div class="container mx-auto max-w-screen-lg px-4 py-6">
      <div class="flex flex-col lg:flex-row gap-8">
        <!-- Imagen del Producto -->
        <div class="flex-1">
          <img
            src={product.imageUrl}
            alt={product.name}
            class="rounded-lg shadow-lg max-w-4xl object-cover"
          />
        </div>

        <!-- Información del Producto -->
        <div class="flex-1">
          <h1 class="text-4xl font-bold mb-4">{product.name}</h1>
          <p class="text-gray-600 mb-6 text-2xl">{product.description}</p>
          <p class="text-3xl font-semibold text-blue-500 mb-6">
            {product.price} USD
          </p>
          <p class="font-bold text-1xl">{product.stock}</p>
          <button> 
            
          </button>
          <button
            id="add-to-cart"
            class="px-6 py-3 bg-blue-500 text-white font-bold rounded-lg hover:bg-blue-600 transition w-full"
            data-product-id={product.id}
          >
            Agregar al Carrito
          </button>
        </div>
      </div>
    </div>

    <!-- Script -->
    <script type="module">
      const button = document.getElementById("add-to-cart");
      if (button) {
        button.addEventListener("click", () => {
          const productId = button.getAttribute("data-product-id");
          if (productId) {
            const cart = JSON.parse(localStorage.getItem("cart") || "[]");
            const existingProduct = cart.find(
              (item) => item.id === Number(productId)
            );
            if (existingProduct) {
              existingProduct.quantity += 1;
            } else {
              cart.push({ id: Number(productId), quantity: 1 });
            }
            localStorage.setItem("cart", JSON.stringify(cart));
            alert("Producto agregado al carrito");
          }
        });
      }
    </script>
  </body>
</html>
