---
const { product } = Astro.props; // Obtenemos el producto que se pasa como prop
---

<div class="border border-gray-300 rounded-lg shadow-md mb-5 p-4">
  <img src={product.imageUrl} alt={product.name} class="w-full h-auto rounded-lg"/>
  <h2 class="text-lg font-bold my-2">{product.name}</h2>
  <p>{product.description}</p>
  <p class="text-blue-500 text-lg font-semibold">{product.price} USD</p>
</div>
